body {
    margin: 0;
    padding: 0;
}
header {
    background-color:#004B4B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 27px;
}
nav a {
    font-size: 17px;
    color: white;
    margin-left: 30px;
    font-family: Georgia;
}
nav a:hover {
    color: lightseagreen;
    padding-bottom: 3px;
}
.headline {
    background-image: url("event-bg.jpeg");
    background-size: cover;
    background-position: center;
    height: 200px;
    text-align: center;
    padding: 30px;
}
.headline p {
    color: azure;
    font-family: sans-serif;
    font-size: 18px;
    width: 80%;
    margin: 10px auto;
}
.button {
    color: white;
    font-size: 18px;
    background-color: orangered;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 18px;
    display: inline-block;
    font-family: Cambria;
    margin-top: 20px;
}

.button:hover {
    background-color: darkred;
}
.about {
    background-color:lightblue;
    padding:  10px 20px;
    margin: 30px 55px;
    border-radius: 10px;
    box-shadow: 0 2px 15px darkslategrey;

}
.about h3 {
    font-family: Verdana;
    color: darkcyan;
    margin-bottom: 5px;
}
.about p {
    color: darkslategrey;
}
.services h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman';
    color:#004B4B;
    margin-top: 4px;
}
.services h4{
    text-align: center;
    margin-bottom: 28px;
    font-family: Helvetica;
    color:rgb(19, 19, 19);
}
.services-box{
    display: flex;
    gap: 20px;
}
.card {
    background:beige;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 10px darkslategrey;
    width: 40%;
}
.card:hover {
    box-shadow: 0 0 15px teal;
}
.card img {
    width: 100%;
    height: 160px;
    margin-bottom: 7px;
}
.card h4{
    font-size: 20px;
    margin: 10px 0;
    font-family:Cambria;

}
.card p {
    font-size: 14px;
    color: #444;
}
form {
    margin: 30px auto;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    background-color:lightsteelblue;
    width: 40%;
}
.sign-up label {
    font-weight: bold;
    color:#012121;
    font-size: 20px;
}
.sign-up input,
.sign-up textarea {
    width: 70%;
    border-radius: 5px;
    text-align: center;
    padding: 8px 10px;
    border: 1px solid cadetblue;
}
.sign-up button {
    background-color: darkblue;
    color: white;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 6px;
}
.sign-up button:hover {
    background-color:limegreen;
}
.sign-up-bg{
    background-image: url(sign-up.jpg);
}
.EVENTS {
    background-color:#0c6c6c;
    padding: 10px 20px;
}
.EVENTS h2 {
    text-align: center;
    font-size: 30px;
    font-family: Georgia;
    color: whitesmoke;
    margin-bottom: 15px;
}
.EVENTS h3 {
    text-align: center;
    font-size: 18px;
    color:antiquewhite;
    margin-bottom: 20px;
    font-family: Helvetica;
}
.events-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 800px;
    margin: 0 auto;
}
.events-listing {
    background-color:rgb(34, 33, 33);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 128, 128, 0.3);
}
.events-listing:hover {
    box-shadow: 0 10px 25px wheat;
}
.events-listing img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 11px;
}
.events-listing h4 {
    font-size: 21px;
    margin: 10px 0 5px;
    font-family: Cambria, serif;
    color:antiquewhite;
}
.events-listing p {
    font-size: 15px;
    color:whitesmoke;
    padding: 0 13px;

}
.testimonial-section {
    text-align: center;
    padding: 15px 15px;
}
.testimonial-section h2 {
    font-size: 25px;
    margin-bottom: 8px;
} 
.testimonial-card{
    padding: 5px;
    box-shadow: 2px 2px 3px black;
    background-color:teal;
    border-radius: 10px;
    font-family: Arial;
    margin: 20px 60px;
} 
.testimonial-card .author{
    font-weight: bold;
    font-family: Cambria;
    color:azure;
}